<div class="media mb-4 minecraft-text p-3 w-100 bg-dark" id="server-status">
    <img src="/assets/64x64.svg" class="mr-3 align-self-center" id="server-icon" />
    <div class="media-body">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="m-0">PrimCraft</h5>
            <p class="mb-0">
                <span><a href="https://namemc.com/server/primcraft.com" title="PrimCraft NameMC Page" style="text-decoration: none;" class="minecraft-text-r">★</a></span>
                <span id="is-online">
                    <span class="minecraft-text-7" id="online-count">..</span><span class="minecraft-text-8">/</span><span
                        class="minecraft-text-7" id="capacity-count">..</span>
                </span>
            </p>
        </div>
        <p class="mb-0" id="server-motd">Loading...</p>
        <p class="mb-0"><span class="minecraft-text-7">{% t global.server-address %}: </span>primcraft.com</p>
    </div>


</div>