<div class="row">
    {%- for server in site.servers -%}
    {%- capture url_last -%}{{server.url | split: '/' | last}}{%- endcapture -%}
    {%- unless server.code == url_last -%}
        {%- continue -%}
    {%- endunless -%}
    {%- capture server_name -%}
    {%- include fmi.html datas = server.titles -%}
    {%- endcapture -%}
    {%- capture server_description -%}
    {%- include fmi.html datas = server.briefs -%}
    {%- endcapture -%}
    <div class="col-md-6 mb-5">
        <a href="{{ site.baseurl}}{{ server.url }}" class="server-splash-link">
            <div class="server-splash server-splash-action">
                    {%- if server.thumbnail -%}
                    <img src="/assets/{{server.thumbnail}}" alt="{{ server_name }}" class="d-block w-100">
                    {%- else -%}
                    <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                        alt="Card image" class="d-block w-100">
                    {%- endif -%}
                    <div class="p-4">
                        <div class="d-flex d-lg-flex d-md-block justify-content-between w-100">
                            <h4 class="mb-1">{{ server_name }}</h4>
                            <code class="minecraft-text-f"><kbd>&gt; /server {{ server.code }}</kbd></code>
                        </div>
                        <ul class="list-inline mt-md-1">
                            {%- include server-tags.html server = server -%}
                        </ul>
                        <div class="text-muted md-2 font-weight-light">{{ server_description }}</div>
                    </div>
            </div>
        </a>
    </div>
    {%- endfor -%}
</div>